*::before,
::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    background: var(--bg);
    font-family: "SFT";
    font-weight: 400;
    font-size: 16px;
    color: var(--primary);
}



.container {
    max-width: 1277px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    &-banner {
        width: 100%;
        display: flex;
        text-align: center;
    }
}

.btn {
    font-size: 16px;
    cursor: pointer;
    font-family: "SFD-medium", sans-serif;
    font-weight: 500;
    color: rgb(255, 255, 255);
    width: 220px;
    max-width: 220px;
    padding: 12px 21px 12px 21px;
    border: none;
    background-color: rgb(66, 149, 228);
    transition: all .1s ease-in;

    &:hover {
        background-color: rgb(48, 132, 211);
    }
}