.categories {}

.container {}

.categories__title {
    font-family: "SFT-bold", sans-serif;
    text-align: center;
    font-size: 44px;
    line-height: 62px;
    font-weight: 600;
}

.categories__list {}

.categories__list-item {}

.categories__list-item-img {
    width: 280px;
    height: auto;
}

.categories__list-item-text {}

.btn {}

.btn-categories {}