.catalog {
    padding-top: 20px;
}

.container {}

.page-way {}

.page-way__start {}

.page-way__end {}

.catalog__wrapper {}

.catalog__wrapper-title {
    letter-spacing: -1.3px;
    font-family: "SFT-bold", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: rgb(0, 0, 0);

    display: inline-block;
    margin-bottom: 32px;
    margin-right: 31px;
}

.catalog__wrapper-count {
    user-select: none;
    font-family: "SFT-light", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: rgb(0, 0, 0);
}

.catalog-content {
    display: flex;
}

.catalog-sidebar {
    width: 290px;
    min-width: 290px;
}

.catalog-sidebar__reset {
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    font-family: "Helvetica-roman", sans-serif;
    font-weight: 400;
    cursor: pointer;
    padding: 7px 0;
    text-align: center;
    border: 1px solid rgb(173, 215, 255);
    margin-bottom: 32px;
    color: rgb(22, 28, 36);
    transition: all .15s ease-in;

    &:hover {
        background: rgb(48, 132, 211);
        color: rgb(255, 255, 255);
    }
}

.catalog-sidebar__filters {
    border: 1px solid rgb(196, 205, 213);
    padding: 20px;
}

.catalog-sidebar__filters-title {
    font-family: "SFT-bold", sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    color: rgb(22, 28, 36);
    margin-bottom: 27px;
}

// filters => price

.catalog-sidebar__filters-item {
    border-bottom: 1px solid rgb(237, 237, 237);
    margin-bottom: 4px;
}

.catalog-sidebar__filters-price {}

.catalog-sidebar__filters-item-block {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 17px;
}


.catalog-sidebar__filters-item-name {
    display: inline-block;
    font-family: "SFT-medium", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: rgb(22, 28, 36);

}

.catalog-sidebar__filters-item-unfold {
    stroke: #938A9F;
    display: inline-flex;
    transition: all .15s ease-in;

    &:hover {
        stroke: rgb(66, 149, 228);
    }
}

.catalog-sidebar__filters-item-unfold__active {
    transform: rotate(180deg);
    stroke: rgb(66, 149, 228);

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.sidebar__filters-price-slider {
    display: none;
    flex-wrap: wrap;
    gap: 12px;
}

.sidebar__filters-price-slider__active {
    display: flex;
}

.sidebar__filters-price-slider-field {
    overflow: hidden;
    border: 1px solid rgb(234, 234, 234);
    min-width: 116px;
    margin-bottom: 11px;
}

.sidebar__filters-price-slider-field-min {
    font-family: "SFT", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgb(22, 28, 36);
    padding: 10px;
    overflow: hidden;
    text-align: center;
    border: none;
    width: 95px;

    &:focus {
        border: 1px solid rgb(66, 149, 228);
        outline: none;
    }
}

.sidebar__filters-price-slider-field-max {
    font-family: "SFT", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgb(22, 28, 36);
    padding: 10px;
    overflow: hidden;
    text-align: center;
    border: none;
    width: 95px;

    &:focus {
        border: 1px solid rgb(66, 149, 228);
        outline: none;
    }
}

.sidebar__filters-price-slider-controller {
    width: 100%;
    background: rgb(234, 234, 234);
    height: 4px;
    border-radius: 4px;
    position: relative;
}

.sidebar__filters-price-slider-controller-progress {
    height: 4px;
    left: 0%;
    right: 0%;
    position: absolute;
    border-radius: 4px;
    background: rgb(66, 149, 228);
}

.sidebar__filters-price-slider-range {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.sidebar__filters-price-slider-range input {
    position: absolute;
    width: 100%;
    top: -16px;
    height: 4px;
    background: none;
    -webkit-appearance: none;
    pointer-events: none;
}

input[type="range"]::-webkit-slider-thumb {
    pointer-events: auto;
    cursor: pointer;
    height: 24px;
    width: 24px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid rgb(66, 149, 228);
    box-shadow: 0px 1px 1px 0px #00000003;
    box-shadow: 0px 3px 8px 0px #0000001A;
}

input[type="range"]::-moz-range-thumb {
    pointer-events: auto;
    cursor: pointer;
    height: 24px;
    width: 24px;
    -moz-appearance: none;
    background: #fff;
    border: 1px solid rgb(66, 149, 228);
    box-shadow: 0px 1px 1px 0px #00000003;
    box-shadow: 0px 3px 8px 0px #0000001A;
}

.sidebar__filters-price-slider-range-max {}

// filters => specifics

.catalog-sidebar__filters-specifics {}

.sidebar__checkbox-list {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar__active {
    display: block;
}

.sidebar__checkbox-list-item {
    display: flex;
    align-items: center;
    align-items: flex-start;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    display: none;
}

.sidebar__checkbox-list-item-label {
    display: inline-block;
}

.sidebar__checkbox-list-item-label-custom {
    margin-right: 20px;
    position: relative;
    cursor: pointer;
    user-select: none;
    display: inline-flex;
    align-items: center;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: -3px;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        border: 1px solid rgb(196, 205, 213);
        background: white;
        border-radius: 2px;
        transition: background-color 0.2s;
    }
}

input[type="checkbox"]:checked+.sidebar__checkbox-list-item-label-custom::before {
    background: rgb(66, 149, 228);
    border: none;
}

input[type="checkbox"]:checked+.sidebar__checkbox-list-item-label-custom::after {
    content: "";
    position: absolute;
    left: 5px;
    top: -3px;
    transform: translateY(-50%) rotate(45deg);
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
}

.sidebar__checkbox-list-item-name {
    display: inline-block;
    font-family: "SFT", sans-serif;
    font-weight: 400;
    max-width: 184px;
    font-size: 14px;
    line-height: 24px;
    color: rgb(22, 28, 36);
}

.sidebar__checkbox-list-item-count {
    font-family: "SFT-light", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    color: rgb(69, 79, 91);
    margin-left: auto;
}

// filters => colors

.catalog-sidebar__filters-color {}

// filters => material

.catalog-sidebar__filters-material {}

// filters => size

.catalog-sidebar__filters-size {}

.catalog-product {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 920px;
    margin-left: 23px;
    width: 100%;
    padding-top: 4px;
}


.catalog-product__list-item {
    background: rgba(0, 0, 0, 0.03);
    width: 288px;
    max-width: 290px;
    position: relative;
}

.catalog-carousel__item-header {
    position: relative;
    margin-bottom: 10px;
}

.catalog-carousel__item-header-img {
    width: 288px;
    height: auto;
}

.catalog-carousel__item-header-block {
    position: absolute;
    top: 12px;
    left: 12px;
}

.catalog-carousel__item-header-presence {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.catalog-carousel__item-header-presence-box {
    padding: 7px 6px;
    display: flex;
    position: relative;
    justify-content: center;
    margin-right: 8px;
    width: 8px;
    height: 10px;
    background: #fff;
}

.catalog-carousel__item-header-presence-absent {}

.catalog-carousel__item-header-presence-text {
    font-family: "SFT", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgb(69, 79, 91);
}

.catalog-carousel__item-header-gift {
    width: 80px;
    display: flex;
    align-items: center;
    padding: 6px 8px;
    background: #fff;
}

.catalog-carousel__item-header-gift-img {
    fill: rgb(66, 149, 228);

}

.catalog-carousel__item-header-gift-text {
    color: rgb(22, 28, 36);
    font-family: "SFT", sans-serif;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    margin-left: 10px;
}

.catalog-carousel__item-header-sale {
    color: rgb(22, 28, 36);
    font-family: "SFT-medium", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    padding: 8px 10px;
    background: white;
    position: absolute;
    top: 12px;
    right: 12px;
}

.catalog-carousel__list-item-descr {
    padding: 10px 12px;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    border-left: 1px solid rgba(0, 0, 0, 0.03);
    border-right: 1px solid rgba(0, 0, 0, 0.03);
}


.catalog-carousel__list-item-descr-title {
    color: rgb(69, 79, 91);
    font-family: "SFT", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    max-width: 270px;
    margin-bottom: 10px;
}

.catalog-carousel__list-item-descr-price {
    display: flex;
    align-items: center;
}

.catalog-carousel__list-item-descr-price-new {
    font-family: "SFT-bold", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: rgb(22, 28, 36);
    margin-right: 10px;
}

.catalog-carousel__list-item-descr-price-old {
    position: relative;
    font-family: "SFT-light", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: rgb(69, 79, 91);

    &::after {
        content: "₽";
    }

    &::after {
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        width: 100%;
        border: 1px solid rgb(69, 79, 91);
    }
}

.catalog-product__block {
    position: relative;
    width: 100%;
    margin-bottom: 27px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.catalog-product__block-tags {
    position: relative;
    font-family: "SFT", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgb(22, 28, 36);
    line-height: 24px;
}

.catalog-product__block-tags-cross {
    cursor: pointer;
    width: 10px;
    height: 10px;
    stroke: rgb(22, 28, 36);
    position: absolute;
    top: 3px;
    right: -23px;
    transition: all .14s ease-in;

    &:hover {
        stroke: rgb(228, 66, 134);
    }
}

.catalog-product__block-dropdown {
    padding: 7px 16px;
    border: 1px solid rgb(196, 205, 213);
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover .catalog-product__block-dropdown-text {
        color: rgb(66, 149, 228);
    }

    &:hover svg {

        stroke: rgb(66, 149, 228);
    }
}


.catalog-product__block-dropdown-text {
    user-select: none;
    display: inline-block;
    font-family: "SFT", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgb(22, 28, 36);
    transition: all .1s ease-in;

}

.catalog-product__block-dropdown-unfold {
    display: inline-block;
    margin-left: 26px;
    fill: none;
    stroke: black;
    transition: all .1s ease-in;
}

.catalog-product__block-dropdown-unfold__active {
    transform: rotate(-180deg);
    stroke: rgb(66, 149, 228);
}

.catalog-product__dropdown-modal {
    display: none;
    z-index: 1000;
    position: absolute;
    top: 47px;
    right: 0;
    width: 212px;
}

.catalog-product__dropdown-modal__active {
    display: block;
}

.catalog-product__dropdown-modal-list {
    box-shadow: 0px 4px 15px -2px #0000001A;
    background: #fff;
    width: 100%;
}

.catalog-product__dropdown-modal-list-item {
    cursor: pointer;

    display: flex;
    padding: 10px;
    transition: all .1s ease-in;

    &:hover {
        background: #F7FBFE;
    }

    &:hover .catalog-product__dropdown-modal-list-item-text {
        color: #4295E4;
    }
}

.catalog-product__dropdown-modal-list-item-text {
    font-family: "SFT", sans-serif;
    color: rgb(22, 28, 36);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    transition: all .1s ease-in;
}

.catalog-product__list {
    margin-bottom: 26px;
    flex-wrap: wrap;
    display: flex;
    gap: 42px 35px;
    justify-content: flex-start;
}

.catalog-product__list-item {
    width: 288px;
    max-width: 290px;
    position: relative;
    background: none;
}

.catalog-carousel__item-header {
    background-color: rgba(0, 0, 0, 0.03);
    margin-bottom: 0;
}

.catalog-carousel__list-item-descr {
    padding: 0 12px 12px 14px;
}