.contact-form {
    padding-top: 64px;
    padding-bottom: 56px;
    background: rgb(242, 248, 255);
}

.contact-form__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.contact-form__title {
    max-width: 550px;
    font-family: "SFT-bold", sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 62px;
    color: rgb(22, 28, 36);
}

.contact-form__descr {
    font-family: "SFT", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgb(69, 79, 91);
    margin-bottom: 24px;
    max-width: 515px;
}

.contact-form__content {
    display: flex;
    align-items: center;
}

.contact-form__input {
    cursor: pointer;
    border: none;
    color: rgb(69, 79, 91);
    font-family: "SFT", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 220px;
    max-width: 240px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 10px;
    background: rgba(22, 28, 36, 0.04);

    &::placeholder {
        font-family: "SFT", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: rgb(69, 79, 91);
    }

    &:focus {
        outline: none;
        border: none;
        font-family: "SFT", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: rgb(69, 79, 91);
    }
}

.contact-form__input-name {
    margin-right: 24px;
}

.contact-form__input-email {
    margin-right: 24px;
}

.contact-form__button {}

.contact-form__button-submit {}