.popular {}

.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
}

.popular__top-title {
    user-select: none;
    max-width: 700px;
    letter-spacing: -1px;
    font-family: "SFT-bold", sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 62px;
    color: rgb(22, 28, 36);

}

.popular__arrow {
    display: flex;
    gap: 66px;
}

.popular__arrow-left {
    cursor: pointer;
    stroke: rgb(22, 28, 36);
    fill: none;
}

.popular__arrow__grey {
    stroke: rgb(196, 205, 213);
}

.popular__arrow-right {
    cursor: pointer;
    stroke: rgb(22, 28, 36);
    fill: none;
}

.product-carousel {
    user-select: none;
    overflow: hidden;
}

.product-carousel__list {
    margin-bottom: 96px;
    display: flex;
    gap: 32px;
    transition: .2s;
}

.product-carousel__list-item {
    background: rgba(0, 0, 0, 0.03);
    width: 288px;
    max-width: 290px;
    position: relative;
}

.product-carousel__item-header {
    position: relative;
    margin-bottom: 10px;
}

.product-carousel__item-header-img {
    width: 288px;
    height: auto;
}

.product-carousel__item-header-block {
    position: absolute;
    top: 12px;
    left: 12px;
}

.product-carousel__item-header-presence {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.product-carousel__item-header-presence-text {
    font-family: "SFT", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.product-carousel__item-header-presence-box {
    padding: 7px 6px;
    display: flex;
    position: relative;
    justify-content: center;
    margin-right: 8px;
    width: 8px;
    height: 10px;
    background: #fff;
}

.product-carousel__item-header-presence-box-img {
    fill: none;
    stroke: #24C56E;
    width: 100%;
    height: 100%;
}

.product-carousel__item-header-presence-box-absent {
    fill: none;
    stroke: #E44286;
    width: 100%;
    height: 100%;
}

.product-carousel__item-header-gift {
    width: 80px;
    display: flex;
    align-items: center;
    padding: 6px 8px;
    background: #fff;
}

.product-carousel__item-header-gift-img {
    fill: rgb(66, 149, 228);
}

.product-carousel__item-header-gift-text {
    font-family: "SFT", sans-serif;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    margin-left: 10px;
}

.product-carousel__item-header-sale {
    color: rgb(22, 28, 36);
    font-family: "SFT-medium", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    padding: 8px 10px;
    background: white;
    position: absolute;
    top: 12px;
    right: 12px;
}

.product-carousel__list-item-descr {
    padding: 10px 12px;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    border-left: 1px solid rgba(0, 0, 0, 0.03);
    border-right: 1px solid rgba(0, 0, 0, 0.03);
}

.product-carousel__list-item-descr-title {
    color: rgb(69, 79, 91);
    font-family: "SFT", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    max-width: 270px;
    margin-bottom: 10px;
}

.product-carousel__list-item-descr-price {
    display: flex;
    align-items: center;
}

.product-carousel__list-item-descr-price-new {
    font-family: "SFT-bold", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: rgb(22, 28, 36);
    margin-right: 10px;
}

.product-carousel__list-item-descr-price-old {
    position: relative;
    font-family: "SFT-light", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: rgb(69, 79, 91);

    &::after {
        content: "₽";
    }

    &::after {
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        width: 100%;
        border: 1px solid rgb(69, 79, 91);
    }
}