.product {
    padding-top: 20px;
}

.product__wrapper {
    display: flex;
    margin-bottom: 32px;
}

.product-slider {
    margin-right: 30px;
    display: flex;

    flex-direction: column;
    width: 100%;
    max-width: 604px;
}

.product-slider__main {
    background: rgba(0, 0, 0, 0.03);
    margin-bottom: 20px;
}

.product-slider__main-img {
    width: 100%;
    height: auto;
}

.product-slider__main-img__active {}

.product-slider__thumbnails {}

.product-slider__thumbnails-list {
    display: flex;
}

.product-slider__thumbnails-list-item {
    cursor: pointer;
    border: 1px solid rgb(234, 234, 234);
    max-width: 143px;
    width: 100%;
    height: auto;
    margin-right: 12px;
    transition: all .1s ease-in;

    &:hover {
        background: rgba(125, 190, 255, 0.07);
    }

    &:last-child {
        margin-right: 0;
    }
}


.product-info {}

.product-info__top {
    display: flex;
}

.product-info__top-id {
    margin-right: 12px;
    max-width: 90px;
    font-family: "SFT", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgb(69, 79, 91);
}

.product-info__title {
    letter-spacing: -0.7px;
    max-width: 549px;
    font-family: "SFT-bold", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: rgb(22, 28, 36);
    margin-bottom: 17px;
}

.checkbox-actions {
    margin-bottom: 20px;
}

.checkbox-actions__text {
    font-family: "SFT-bold", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: rgb(22, 28, 36);
    max-width: 220px;
    margin-bottom: 10px;
    letter-spacing: -0.5px;
}

.checkbox-actions__list {
    display: flex;
}

.checkbox-actions__list-item {
    display: flex;
    margin-right: 19px;
    align-items: center;
}

.checkbox-actions__list-item-label-custom {
    margin-right: 20px;
    position: relative;
    cursor: pointer;
    user-select: none;
    display: inline-flex;
    align-items: center;

    &::before {
        content: "";
        position: absolute;
        left: 1px;
        top: 0px;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        border: 1px solid rgb(196, 205, 213);
        background: rgb(66, 149, 228);
        border-radius: 2px;
        transition: background-color 0.2s;
    }

    &::after {
        content: "";
        position: absolute;
        left: 7px;
        top: -1px;
        transform: translateY(-50%) rotate(45deg);
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
    }
}

.checkbox-actions__list-item-descr {
    font-size: 14px;
    font-family: "SFT", sans-serif;
    font-weight: 400;
    color: rgb(69, 79, 91);
    line-height: 24px;
    max-width: 160px;
}


.product-info__options {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.product-info__options-package {
    position: relative;
}

.product-info__options-package-title {
    display: inline-block;
    font-family: "SFT-bold", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: rgb(22, 28, 36);
    margin-bottom: 7px;
}

.product-info__options-package-content {
    margin-right: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 288px;
    padding: 8px 16px;
    padding-left: 16px;
    border: 1px solid black;

    &:hover {
        border: 1px solid rgb(66, 149, 228);
        ;
    }
}

.product-info__options-package-content-text {
    width: 100%;
    max-width: 260px;
    font-family: "SFT", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(22, 28, 36);
}

.product-info__options-package-content-unfold {
    cursor: pointer;
    transition: all .1s ease-in;
    stroke: rgb(22, 28, 36);

    &:hover {
        stroke: rgb(66, 149, 228);
    }
}

.product-info__options-package-unfold__active {
    transform: rotate(180deg);
    stroke: rgb(66, 149, 228);
}

// package modal 

.package-modal {
    display: none;
    position: absolute;
    bottom: -109px;
    left: 0;
    width: 100%;
    max-width: 288px;
    box-shadow: 0px 4px 15px -2px #0000001A;

}

.package-modal__active {
    display: block;
}

.package-modal__list {}

.package-modal__list-item {
    cursor: pointer;
    padding: 8px 0px;
    padding-left: 16px;
    transition: all .15s ease-in;

    &:hover {
        background: rgb(247, 251, 254);
        color: rgb(66, 149, 228);
    }
}

.package-modal__list-item-text {
    width: 100%;
    max-width: 260px;
    font-family: "SFT", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

// package modal end


.product-info__options-colors {}

.product-info__options-colors-title {
    display: inline-block;
    font-family: "SFT-bold", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: rgb(22, 28, 36);
    margin-bottom: 8px;
}

.product-info__colors-list {
    display: flex;
}

.product-info__colors-list-box {
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: #fff;
    margin-right: 12px;
    transition: all .15s ease-in;

    &:hover {
        border: 1px solid rgb(66, 149, 228);
    }
}

.product-info__colors-list-box__active {
    border: 1px solid rgb(66, 149, 228);

    &::after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        transform: translateY(-50%) rotate(45deg);
        width: 10px;
        height: 14px;
        border: solid rgb(89, 100, 105);
        border-width: 0 2px 2px 0;
    }
}

.product-info__colors-list-box__white {
    position: relative;
    background: rgb(255, 255, 255);
}

.product-info__colors-list-box__black {
    background: rgb(27, 26, 32);

}

.product-info__colors-list-box__yellow {
    background: rgb(226, 195, 85);
}


.product-info__price {
    display: flex;
    margin-bottom: 15px;
}

.product-info__price-new {
    width: 100%;
    max-width: 110px;
    font-family: "SFT-bold", sans-serif;
    font-weight: 600;
    color: rgb(22, 28, 36);
    font-size: 22px;
    line-height: 26px;
}

.product-info__price-old {
    width: 100%;
    max-width: 110px;
    font-family: "SFT-light", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: rgb(164, 164, 164);
}

.product-info__buying {
    display: flex;
    align-items: center;
    margin-bottom: 33px;
}

.product-info__buying-btn {
    margin-right: 33px;
    cursor: pointer;
    font-family: "SFT-medium", sans-serif;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    border: none;
    background: rgb(66, 149, 228);
    width: 288px;
    transition: all .1s ease-in;

    &:hover {
        background: rgb(86, 169, 248);

    }

    &:active {
        background: rgb(46, 129, 208);
    }
}

.product-info__buying-favorites {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.product-info__buying-favorites-img {
    cursor: pointer;
    margin-right: 9px;
    transition: all .12s ease-in;
    stroke: #454F5B;
    fill: none;

    &:hover {
        stroke: rgb(66, 149, 228);
    }

}

.product-info__buying-favorites-text {
    font-size: 14px;
    line-height: 24px;
    font-family: "SFT", sans-serif;
    font-weight: 400;
    color: rgb(77, 77, 77);
}

.product-info__services {
    width: 597px;
}

.product-info__services-list {}

.product-info__services-list-item {
    width: 100%;
    background: rgb(255, 255, 255);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    margin-bottom: 16px;
}

.product-info__services-list-item:hover .product-info__services-list-item-title,
.product-info__services-list-item:hover .product-info__services-list-item-unfold {
    color: rgb(86, 169, 248);
    stroke: rgb(86, 169, 248);
}

.product-info__services-list-item__active {
    padding: 16px;
    background: rgb(246, 247, 249);
}

.product-info__services-list-item-title {
    transition: all .15s ease-in-out;
    margin-bottom: 12px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "SFT-medium", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(22, 28, 36);
    line-height: 26px;
}

.product-info__services-list-item-unfold {
    display: flex;
    cursor: pointer;
    stroke: rgb(69, 79, 91);
    fill: none;

    &:hover {
        stroke: rgb(66, 149, 228);
    }
}

.product-info__services-list-item-unfold__active {
    transform: rotate(180deg);
    stroke: rgb(66, 149, 228);
}

.product-info__services-list-item-descr {
    letter-spacing: 0.1px;
    display: none;
    font-family: "SFT", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgb(69, 79, 91);
    max-width: 565px;
}

.product-info__services-list-item-descr__active {
    display: block;
}

.product-details {}

.product-details__list {
    display: flex;
    margin-bottom: 33px;
}


.product-details__list-item {
    cursor: pointer;
    position: relative;
    margin-right: 62px;
    font-family: "SFT-medium", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: rgb(22, 28, 36);
    transition: all .2s ease-in;


    &:last-child {
        margin-right: 0;
    }

    &::after {
        content: "";
        opacity: 0;
        position: absolute;
        width: 100%;
        bottom: -10px;
        left: 0;
        height: 3px;
        background: rgb(66, 149, 228);

    }

    &:hover::after {
        opacity: 1;
        transition: all .3 ease-in;
    }
}

.product-details__list-item__active::after {
    opacity: 1;
}

.product-details__content {}

.product-details__content-characteristics {
    display: none;
}

.product-details__content-characteristics-left {
    width: 605px;
    margin-right: 30px;
}

.product-details__content-characteristics-list {}

.product-details__content-characteristics-list-item {
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 13px;
}

.product-details__content-characteristics-list-item__grey {
    background: rgb(250, 250, 250);
}


.product-details__content-characteristics-list-item-title {
    margin-right: 30px;
    width: 100%;
    max-width: 260px;
    font-family: "SFT-medium", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: rgb(24, 24, 24);
}

.product-details__content-characteristics-list-item-descr {
    font-family: "SFT", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgb(69, 79, 91);
    max-width: 291px;
}

.product-details__content-characteristics-right {
    width: 605px;
}

.product-details__content-descr {
    position: relative;
    // margin-bottom: 116px;
}

.product-details__content-descr-content {
    display: none;
    // display: flex;
}

.product-details__content-descr-content-info {
    width: 711px;
}

.product-details__content-descr-content-info-text {
    max-width: 711px;
    font-family: "SFT", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgb(69, 79, 91);
}


.checkbox-product {
    margin-top: 31px;
    margin-bottom: 24px;
}


.checkbox-product__text {
    letter-spacing: -0.1px;
    max-width: 633px;
    font-family: "SFT-bold", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: rgb(22, 28, 36);
    margin-bottom: 16px;
}


.checkbox-product__list {
    display: block;
}

.checkbox-product__list-item {
    display: flex;
    align-items: baseline;
    margin-bottom: 8px;
}

.checkbox-product__list-item-label-custom {

    margin-right: 20px;
    position: relative;
    cursor: pointer;
    user-select: none;
    display: inline-flex;
    align-items: center;

    &::before {
        content: "";
        position: absolute;
        left: 1px;
        top: -5px;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        border: 1px solid rgb(196, 205, 213);
        background: rgb(66, 149, 228);
        border-radius: 2px;
        transition: background-color 0.2s;
    }

    &::after {
        content: "";
        position: absolute;
        left: 7px;
        top: -5px;
        transform: translateY(-50%) rotate(45deg);
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
    }
}

.checkbox-product__list-item-descr {
    font-weight: 400;
    font-family: "SFT", sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: rgb(69, 79, 91);
    max-width: 583px;
}

.product-details__content-descr-content-img {
    position: absolute;
    right: 7px;
    top: -17px;
}

.product-details__content-descr-content-img-advantage {
    width: 500px;
    height: auto;
}

.product-details__content-reviews {}

.product-details__content-reviews-comments {
    width: 817px;
}

.product-details__content-reviews-comment {
    width: 817px;
    border: 1px solid rgb(234, 234, 234);
    padding: 16px 24px 24px 25px;
    margin-bottom: 16px;
}

.product-details__content-reviews-comment-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 11px;
    margin-left: -25px;
    margin-right: -24px;
    border-bottom: 1px solid rgb(234, 234, 234);
    margin-bottom: 16px;
}

.product-details__content-reviews-comment-top-name {
    font-family: "SFT-medium", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #161C24;
    padding-left: 23px;
}

.product-details__content-reviews-comment-top-date {
    font-family: "SFT-light", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #454F5B;
}

.product-details__content-reviews-comment-text {
    font-family: "SFT", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    max-width: 769px;
    color: rgb(22, 28, 36);
    margin-bottom: 24px;
}

.product-details__content-reviews-comment-action {
    display: flex;
    align-items: center;
}

.product-details__content-reviews-comment-action-reply {
    cursor: pointer;
    margin-right: 20px;
}

.product-details__content-reviews-comment-action-reply-img {}

.product-details__content-reviews-comment-action-reply-text {
    font-family: "SFT", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: rgb(69, 79, 91);
    transition: all .15s ease-in;

    &:hover {
        color: rgb(66, 149, 228)
    }
}

.product-details__content-reviews-comment-action-comment {
    cursor: pointer;
}

.product-details__content-reviews-comment-action-comment-img {}

.product-details__content-reviews-comment-action-comment-text {
    font-family: "SFT", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: rgb(69, 79, 91);
    transition: all .15s ease-in;

    &:hover {
        color: rgb(66, 149, 228)
    }
}

.product-details__reviews-stars {
    margin-right: 26px;
}

.product-details__reviews-star {
    width: 20px;
    height: 20px;
}

.product-details__content-reviews-comments-load {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:hover .product-details__content-reviews-comments-load-text {
        color: #4295E4;
    }
}

.product-details__content-reviews-comments-load-img {
    stroke: #4295E4;
    fill: none;
    margin-right: 10px;
}

.product-details__content-reviews-comments-load-text {
    font-family: "SFT", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgb(69, 79, 91);
}