@charset "UTF-8";
:root {
  --primary: #454F5B;
  --bg: #fff;
}

@font-face {
  font-family: "SFT";
  src: url("/assets/fonts/sfprotext/SFProText-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "SFT-italic";
  src: url("/assets/fonts/sfprotext/SFProText-RegularItalic.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "SFT-light";
  src: url("/assets/fonts/sfprotext/SFProText-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "SFT-medium";
  src: url("/assets/fonts/sfprotext/SFProText-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "SFT-bold";
  src: url("/assets/fonts/sfprotext/SFProText-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "SFT-semibold";
  src: url("/assets/fonts/sfprotext/SFProText-Semibold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "SFD-medium";
  src: url("/assets/fonts/sfprodisp/SFProDisplay-Medium.ttf");
  src: url("/assets/fonts/sfprodisp/SFProDisplay-Medium.eot");
  src: url("/assets/fonts/sfprodisp/SFProDisplay-Medium.woff");
  src: url("/assets/fonts/sfprodisp/SFProDisplay-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "SFD";
  src: url("/assets/fonts/sfprodisp/SFProDisplay-Regular.ttf");
  src: url("/assets/fonts/sfprodisp/SFProDisplay-Regular.eot");
  src: url("/assets/fonts/sfprodisp/SFProDisplay-Regular.woff");
  src: url("/assets/fonts/sfprodisp/SFProDisplay-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "SFD-semibold";
  src: url("/assets/fonts/sfprodisp/SFProDisplay-Semibold.ttf");
  src: url("/assets/fonts/sfprodisp/SFProDisplay-Semibold.eot");
  src: url("/assets/fonts/sfprodisp/SFProDisplay-Semibold.woff");
  src: url("/assets/fonts/sfprodisp/SFProDisplay-Semibold.woff2");
  font-weight: 600;
}
@font-face {
  font-family: "SFD-light";
  src: url("/assets/fonts/sfprodisp/SFProDisplay-Light.ttf");
  src: url("/assets/fonts/sfprodisp/SFProDisplay-Light.wot");
  src: url("/assets/fonts/sfprodisp/SFProDisplay-Light.woff");
  src: url("/assets/fonts/sfprodisp/SFProDisplay-Light.woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Helvetica-roman";
  src: url("/assets/fonts/helvetica/HelveticaNeueCyr-Roman.eot");
  src: url("/assets/fonts/helvetica/HelveticaNeueCyr-Roman.ttf");
  src: url("/assets/fonts/helvetica/HelveticaNeueCyr-Roman.woff");
  font-weight: 400;
}
@font-face {
  font-family: "Helvetica-medium";
  src: url("/assets/fonts/helvetica/HelveticaNeueCyr-Medium.eot");
  src: url("/assets/fonts/helvetica/HelveticaNeueCyr-Medium.ttf");
  src: url("/assets/fonts/helvetica/HelveticaNeueCyr-Medium.woff");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/roboto/Roboto-Medium.eot");
  src: url("/assets/fonts/roboto/Roboto-Medium.ttf");
  src: url("/assets/fonts/roboto/Roboto-Medium.woff");
  font-weight: 400;
}
*::before,
::after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
  font-family: "SFT";
  font-weight: 400;
  font-size: 16px;
  color: var(--primary);
}

.container {
  max-width: 1277px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.container-banner {
  width: 100%;
  display: flex;
  text-align: center;
}

.btn {
  font-size: 16px;
  cursor: pointer;
  font-family: "SFD-medium", sans-serif;
  font-weight: 500;
  color: rgb(255, 255, 255);
  width: 220px;
  max-width: 220px;
  padding: 12px 21px 12px 21px;
  border: none;
  background-color: rgb(66, 149, 228);
  transition: all 0.1s ease-in;
}
.btn:hover {
  background-color: rgb(48, 132, 211);
}

.reviews {
  margin-bottom: 7px;
  display: flex;
  align-items: center;
}

.reviews__stars {
  margin-right: 12px;
  display: flex;
}

.reviews__stars-star {
  margin-right: 7px;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  width: 16px;
  height: 16px;
  background-color: black;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  z-index: 1;
  border: 8px solid white;
  transition: all 0.15s ease-in;
}
.reviews__stars-star::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 18px;
  height: 18px;
  clip-path: inherit;
  background-color: transparent;
  border: 1px solid rgb(196, 205, 213);
  z-index: 0;
}
.reviews__stars-star:hover {
  border: 8px solid rgb(247, 171, 58);
}

.reviews__stars-star:last-child {
  margin-right: 0;
}

.reviews__stars-star__active {
  border: 8px solid rgb(247, 171, 58);
}

.reviews__count {
  font-family: "SFT", sans-serif;
  color: rgb(69, 79, 91);
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
}

.pagination {
  max-width: 546px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__list {
  max-width: 426px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.pagination__btn-arrow {
  width: 41px;
  height: 41px;
  cursor: pointer;
  stroke: #C4CDD5;
  fill: none;
}

.pagination__btn-arrow__active {
  stroke: #161C24;
}

.pagination__btn-arrow-left {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.pagination__btn-arrow-right {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  transform: rotate(180deg);
}

.pagination__list-item {
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(24, 24, 24);
  font-size: 16px;
  line-height: 26px;
  font-family: "SFT", sans-serif;
  font-weight: 400;
  width: 40px;
  height: 39px;
}

.pagination__list-item-dot {
  user-select: none;
  width: 40px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__list-item__active {
  font-size: 16px;
  line-height: 26px;
  font-family: "SFT", sans-serif;
  font-weight: 400;
  width: 40px;
  height: 39px;
  border-radius: 2px;
  background: rgb(66, 149, 228);
  color: rgb(255, 255, 255);
}

.header {
  border-bottom: 1px solid #C4CDD5;
}

.header-banner {
  width: 100%;
  padding: 9px 0;
  background: rgb(69, 79, 91);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-banner__text {
  font-family: "SFD";
  color: #fff;
  margin-right: 153px;
  margin-left: 348px;
  letter-spacing: 2.8px;
  max-width: 575px;
}
.header-banner__text:last-child {
  margin-right: 0;
}

.header-banner__text-call {
  display: inline-flex;
  font-family: "SFD";
  color: #fff;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
  letter-spacing: 3.1px;
  max-width: 172px;
}
.header-banner__text-call a {
  text-decoration: none;
  display: inline-flex;
  font-family: "SFD";
  color: #fff;
  cursor: pointer;
}
.header-banner__text-call:hover {
  border-bottom: 2px solid #fff;
}

.header-top {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.header-logo {
  margin-right: 102px;
  max-width: 52px;
  height: auto;
  display: block;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav__list {
  position: relative;
  margin-right: 282px;
  display: flex;
  align-items: center;
  max-width: 510px;
}

.header-nav__list-item {
  display: flex;
  align-items: center;
  margin-right: 33px;
  font-size: 20px;
  max-width: 180px;
}
.header-nav__list-item a {
  font-family: "SFT-light";
  color: rgb(22, 28, 36);
}
.header-nav__list-item:hover a {
  font-family: "SFT";
}
.header-nav__list-item:last-child {
  margin-right: 0;
}

.header-nav__list-item-unfold {
  margin-left: 7px;
  display: inline-block;
  width: 14px;
  height: auto;
  fill: none;
  stroke: #000;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.header-nav__list-item-unfold__active {
  stroke: rgb(66, 149, 228);
  transform: rotate(180deg);
}

.header-nav__actions {
  display: flex;
  align-items: center;
}

.header-nav__actions-call {
  display: flex;
  align-items: center;
}

.header-nav__actions-call-img {
  height: 20px;
  width: 20px;
}

.header-nav__actions-call-text {
  margin-left: 9px;
  letter-spacing: 0.6px;
  font-family: "SFD", sans-serif;
  font-size: 18px;
  color: rgb(69, 79, 91);
  transition: all 0.2s ease-in;
}
.header-nav__actions-call-text:hover {
  color: #4295E4;
}

.header-nav__actions-likes {
  margin-left: 21px;
  margin-right: 24px;
  width: 32px;
  height: 32px;
  stroke: rgb(69, 79, 91);
  transition: all 0.15s ease-in;
}
.header-nav__actions-likes:hover {
  stroke: #4295E4;
}

.header-nav__actions-basket {
  width: 32px;
  height: 32px;
  stroke: rgb(69, 79, 91);
  transition: all 0.15s ease-in;
}
.header-nav__actions-basket:hover {
  stroke: #4295E4;
}

.header-modal {
  display: none;
  padding: 32px;
  border-radius: 4px;
  z-index: 100;
  position: absolute;
  top: 67px;
  left: 261px;
  width: 740px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 4px 18px -2px rgba(0, 0, 0, 0.1019607843);
}

.header-modal__list {
  position: relative;
}

.header-modal__list-item {
  cursor: pointer;
  width: 260px;
  max-width: 265px;
  margin-bottom: 20px;
  transition: all 0.17s ease-in;
}

.header-modal__list-item-name {
  max-width: 256px;
  font-family: "SFT", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  transition: all 0.17s ease;
}

.header-modal__list-item-name__active {
  position: relative;
  font-family: "SFT-medium", sans-serif;
  font-weight: 500;
  color: rgb(22, 28, 36);
  font-size: 16px;
  line-height: 26px;
}
.header-modal__list-item-name__active:before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  border: 1px solid rgb(66, 149, 228);
}

.header-modal__list-item-img {
  width: 100%;
  height: 100%;
  max-width: 350px;
  display: none;
  position: absolute;
  left: 360px;
  top: 0px;
}

.header-modal__list-item-img__active {
  display: block;
}

.goods-carousel {
  padding-top: 152px;
  background-color: rgba(0, 0, 0, 0.02);
}

.product {
  position: relative;
}

.product-list {
  overflow: hidden;
  display: flex;
}

.product-list__item {
  display: none;
  margin-right: 90px;
  min-width: 1100px;
  position: relative;
  justify-content: end;
  padding-top: 20px;
  letter-spacing: -1px;
}

.product-list__item-active {
  display: flex;
}

.product-list__item-img {
  z-index: -1;
  position: absolute;
  top: -150px;
  left: -100px;
  width: 1441px;
}

.product-list__item-descr {
  max-width: 604px;
}

.product-list__item-descr-title {
  font-family: "SFT-bold";
  font-size: 44px;
  color: rgb(22, 28, 36);
  margin-bottom: 10px;
  max-width: 400px;
}

.product-list__item-descr-title-name {
  font-family: "SFT-bold";
  letter-spacing: -2px;
  font-size: 44px;
  color: rgb(22, 28, 36);
  margin-bottom: 32px;
  max-width: 470px;
}

.product-list__item-descr-text {
  letter-spacing: 0;
  line-height: 21px;
  font-family: "SFT";
  max-width: 287px;
  color: rgb(69, 79, 91);
  font-size: 14px;
  margin-bottom: 21px;
}
.product-list__item-descr-text:last-child {
  margin-bottom: 30px;
}

.product-list__item-price {
  margin-top: 43px;
  margin-bottom: 16px;
}

.product-list__item-price-title {
  color: rgb(69, 79, 91);
  font-size: 12px;
  font-weight: 400;
  font-family: "SFT", sans-serif;
  letter-spacing: 0px;
  margin-bottom: 6px;
}

.product-list__item-price-old {
  margin-right: 8px;
  font-family: "SFT-bold", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 24px;
  color: rgb(22, 28, 36);
}
.product-list__item-price-old::after {
  content: "₽";
}

.product-list__item-price-new {
  position: relative;
  letter-spacing: 2px;
  font-family: "SFT-light", sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: rgb(164, 164, 164);
}
.product-list__item-price-new::after {
  content: "₽";
}
.product-list__item-price-new::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;
  width: 100%;
  border: 1px solid rgb(164, 164, 164);
}

.btn-product {
  margin-bottom: 90px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 53px;
}

.controls__arrow-left {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.controls__arrow-right {
  cursor: pointer;
  display: flex;
  align-items: center;
  transform: scaleX(-1);
}

.controls__dots {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-right: 24px;
  margin-left: 24px;
}

.controls__dots-item {
  position: relative;
  cursor: pointer;
  width: 8px;
  height: 8px;
  background: rgb(173, 215, 255);
  border-radius: 50%;
  transition: all 0.2s ease;
}
.controls__dots-item:hover {
  background: rgb(131, 172, 210);
}

.controls__dots-item-active {
  position: relative;
  cursor: pointer;
  background: rgb(66, 149, 228);
  border-radius: 50%;
}
.controls__dots-item-active:after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  border: 1px solid rgb(173, 215, 255);
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.controls__dots-item-active:hover {
  background: rgb(66, 149, 228);
}

.statistic {
  width: 100%;
  background: rgb(242, 248, 255);
}

.statistic__inner {
  padding: 40px 0;
}

.statistic__list {
  display: flex;
  align-items: center;
  gap: 82px;
  justify-content: center;
}

.statistic__list-item {
  max-width: 190px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.statistic__list-item-title {
  max-width: 130px;
  font-family: "SFD-semibold", sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: rgb(22, 28, 36);
  line-height: 38px;
  margin-bottom: 16px;
}

.statistic__list-item-text {
  max-width: 185px;
  font-family: "SFT-bold", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: rgb(69, 79, 91);
}

.why-golden {
  padding-top: 93px;
  margin-bottom: 100px;
}

.why-golden__title {
  font-family: "SFT-bold", sans-serif;
  font-weight: 600;
  font-size: 44px;
  line-height: 62px;
  color: rgb(22, 28, 36);
  text-align: center;
  margin-bottom: 56px;
}

.why-golden__list-item-img {
  width: 82px;
  height: 82px;
}

.why-golden__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.why-golden__list-item {
  padding: 0 24px;
  border-right: 1px solid rgb(196, 205, 213);
  border-left: 1px solid rgb(196, 205, 213);
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 395px;
}

.why-golden__list-item-img {
  margin-bottom: 32px;
  display: flex;
}

.why-golden__list-item-text {
  font-family: "SFT", sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: rgb(69, 79, 91);
  text-align: center;
  max-width: 320px;
}

.categories {
  text-align: center;
  padding-top: 54px;
  margin-bottom: 100px;
}

.categories__title {
  font-family: "SFT-bold", sans-serif;
  text-align: center;
  font-size: 44px;
  line-height: 62px;
  font-weight: 600;
  margin-bottom: 64px;
}

.categories__list {
  display: flex;
  gap: 40px 45px;
  flex-wrap: wrap;
  margin-bottom: 50px;
  align-items: center;
}

.categories__list-item {
  user-select: none;
  background: rgba(0, 0, 0, 0.02);
  width: 600px;
  display: flex;
  justify-content: start;
  min-height: 470px;
  position: relative;
  align-items: end;
}

.categories__list-item-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 600px;
  height: auto;
}

.categories__list-item-block {
  position: absolute;
  left: 40px;
  bottom: 40px;
  display: flex;
  flex-direction: column;
}

.categories__list-item-block-text {
  max-width: 180px;
  text-align: start;
  font-family: "SFT-medium", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 34px;
  margin-bottom: 16px;
}

.btn-categories__item {
  text-align: center;
  padding: 12px 0px;
  background: rgba(0, 0, 0, 0.02);
  font-family: "SFD-medium", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: rgb(22, 28, 36);
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.btn-categories__item:hover {
  background: grey;
  color: #fff;
}

.btn-categories {
  font-size: 16px;
  line-height: 36px;
  font-family: "SFD-medium", sans-serif;
  font-weight: 500;
  background: rgb(66, 149, 228);
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.btn-categories a {
  color: rgb(255, 255, 255);
}
.btn-categories:hover {
  background-color: rgb(48, 132, 211);
}

.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.popular__top-title {
  user-select: none;
  max-width: 700px;
  letter-spacing: -1px;
  font-family: "SFT-bold", sans-serif;
  font-weight: 600;
  font-size: 44px;
  line-height: 62px;
  color: rgb(22, 28, 36);
}

.popular__arrow {
  display: flex;
  gap: 66px;
}

.popular__arrow-left {
  cursor: pointer;
  stroke: rgb(22, 28, 36);
  fill: none;
}

.popular__arrow__grey {
  stroke: rgb(196, 205, 213);
  fill: none;
}

.popular__arrow-right {
  cursor: pointer;
  stroke: rgb(22, 28, 36);
  fill: none;
}

.product-carousel {
  user-select: none;
  overflow: hidden;
}

.product-carousel__list {
  margin-bottom: 96px;
  display: flex;
  transition: 0.2s;
}

.product-carousel__list-item {
  background: rgba(0, 0, 0, 0.03);
  width: 288px;
  max-width: 290px;
  position: relative;
  margin-right: 25px;
}

.product-carousel__item-header {
  position: relative;
  margin-bottom: 10px;
}

.product-carousel__item-header-img {
  width: 288px;
  height: auto;
}

.product-carousel__item-header-block {
  position: absolute;
  top: 12px;
  left: 12px;
}

.product-carousel__item-header-presence {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.product-carousel__item-header-presence-text {
  font-family: "SFT", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgb(69, 79, 91);
}

.product-carousel__item-header-presence-box {
  padding: 7px 6px;
  display: flex;
  position: relative;
  justify-content: center;
  margin-right: 8px;
  background: #fff;
}

.product-carousel__item-header-presence-box-img {
  fill: none;
  stroke: #24C56E;
  width: 100%;
  height: 100%;
}

.product-carousel__item-header-presence-box-absent {
  fill: none;
  stroke: #E44286;
  width: 100%;
  height: 100%;
}

.product-carousel__item-header-gift {
  width: 90px;
  display: flex;
  align-items: center;
  padding: 6px 8px;
  background: #fff;
}

.product-carousel__item-header-gift-img {
  fill: rgb(66, 149, 228);
}

.product-carousel__item-header-gift-text {
  color: rgb(22, 28, 36);
  font-family: "SFT", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  margin-left: 10px;
}

.product-carousel__item-header-sale {
  color: rgb(22, 28, 36);
  font-family: "SFT-medium", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  padding: 8px 10px;
  background: white;
  position: absolute;
  top: 12px;
  right: 12px;
}

.product-carousel__list-item-descr {
  padding: 10px 12px;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
  border-left: 1px solid rgba(0, 0, 0, 0.03);
  border-right: 1px solid rgba(0, 0, 0, 0.03);
}

.product-carousel__list-item-descr-title {
  color: rgb(69, 79, 91);
  font-family: "SFT", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  max-width: 270px;
  margin-bottom: 10px;
}

.product-carousel__list-item-descr-price {
  display: flex;
  align-items: center;
}

.product-carousel__list-item-descr-price-new {
  font-family: "SFT-bold", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: rgb(22, 28, 36);
  margin-right: 10px;
}

.product-carousel__list-item-descr-price-old {
  position: relative;
  font-family: "SFT-light", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: rgb(69, 79, 91);
}
.product-carousel__list-item-descr-price-old::after {
  content: "₽";
}
.product-carousel__list-item-descr-price-old::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  border: 1px solid rgb(69, 79, 91);
}

.contact-form {
  padding-top: 64px;
  padding-bottom: 56px;
  background: rgb(242, 248, 255);
}

.contact-form__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.contact-form__title {
  max-width: 550px;
  font-family: "SFT-bold", sans-serif;
  font-weight: 600;
  font-size: 44px;
  line-height: 62px;
  color: rgb(22, 28, 36);
}

.contact-form__descr {
  font-family: "SFT", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgb(69, 79, 91);
  margin-bottom: 24px;
  max-width: 515px;
}

.contact-form__content {
  display: flex;
  align-items: center;
}

.contact-form__input {
  cursor: pointer;
  border: none;
  color: rgb(69, 79, 91);
  font-family: "SFT", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 220px;
  max-width: 240px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 10px;
  background: rgba(22, 28, 36, 0.04);
}
.contact-form__input::placeholder {
  font-family: "SFT", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgb(69, 79, 91);
}
.contact-form__input:focus {
  outline: none;
  border: none;
  font-family: "SFT", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgb(69, 79, 91);
}

.contact-form__input-name {
  margin-right: 24px;
}

.contact-form__input-email {
  margin-right: 24px;
}

.footer {
  padding-top: 50px;
  background: rgb(13, 36, 54);
  padding-bottom: 25px;
}

.footer__wrapper {
  margin-bottom: 24px;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-social__list {
  margin-right: 216px;
  min-width: 143px;
}

.footer-social__list-logo {
  margin-bottom: 144px;
}

.footer-social__list-logo-img {
  width: 105px;
  height: 88px;
}

.footer-social__list-item {
  fill: rgb(255, 255, 255);
  width: 26px;
  height: 26px;
  transition: all 0.2s ease-in-out;
}
.footer-social__list-item:hover {
  fill: rgb(48, 132, 211);
}

.footer-social__list-item-vk {
  margin-right: 24px;
}

.footer-social__list-item-twit {
  margin-right: 24px;
}

.footer-nav__list {
  display: flex;
}

.footer-nav__list-item {
  margin-right: 97px;
}
.footer-nav__list-item:last-child {
  margin-right: 0;
}

.footer-nav__list-item-navigation {
  min-width: 140px;
  max-width: 140px;
}

.footer-nav__list-item-contacts {
  min-width: 180px;
  max-width: 180px;
}

.footer-nav__list-item-street {
  min-width: 182px;
  max-width: 182px;
}

.footer-nav__list-item-information {
  min-width: 146px;
  max-width: 147px;
}

.footer-nav__list-item-title {
  display: block;
  margin-bottom: 24px;
  font-family: "SFT-medium", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: rgb(255, 255, 255);
}

.footer-nav__list-item-text {
  max-width: 183px;
  font-family: "SFT-light", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: rgb(255, 255, 255);
  margin-bottom: 16px;
  transition: all 0.15s ease;
}
.footer-nav__list-item-text:hover {
  color: rgb(66, 149, 228);
}

.footer-nav__list-item-section {
  font-family: "SFT-light", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: rgb(196, 205, 213);
  margin-bottom: 16px;
  margin-bottom: 16px;
}

.footer__copyright {
  font-family: "SFD", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.category {
  padding-top: 15px;
  margin-bottom: 100px;
}

.page-way {
  margin-bottom: 40px;
}

.page-way__start {
  font-family: "SFT", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgb(20, 20, 20);
}
.page-way__start::after {
  content: "/";
  margin-left: 6px;
}

.page-way__end {
  font-family: "SFT", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgb(157, 157, 157);
}

.catalog__content {
  text-align: center;
}

.catalog__content-title {
  font-family: "SFT-bold", sans-serif;
  font-weight: 600;
  color: rgb(0, 0, 0);
  font-size: 44px;
  line-height: 62px;
  margin-bottom: 64px;
}

.catalog__content-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog__content-list-item {
  width: 288px;
  max-width: 290px;
  margin-bottom: 50px;
}
.catalog__content-list-item:last-child {
  margin-bottom: none;
}

.catalog__content-list-item-img {
  margin-bottom: 12px;
  width: 100%;
  background: rgba(0, 0, 0, 0.02);
  height: auto;
}

.catalog__content-list-item-descr {
  font-family: "SFT", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgb(22, 28, 36);
}

.catalog {
  padding-top: 20px;
}

.catalog__wrapper-title {
  letter-spacing: -1.3px;
  font-family: "SFT-bold", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: rgb(0, 0, 0);
  display: inline-block;
  margin-bottom: 32px;
  margin-right: 31px;
}

.catalog__wrapper-count {
  user-select: none;
  font-family: "SFT-light", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: rgb(0, 0, 0);
}

.catalog-content {
  display: flex;
}

.catalog-sidebar {
  width: 290px;
  min-width: 290px;
}

.catalog-sidebar__reset {
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  font-family: "Helvetica-roman", sans-serif;
  font-weight: 400;
  cursor: pointer;
  padding: 7px 0;
  text-align: center;
  border: 1px solid rgb(173, 215, 255);
  margin-bottom: 32px;
  color: rgb(22, 28, 36);
  transition: all 0.15s ease-in;
}
.catalog-sidebar__reset:hover {
  background: rgb(48, 132, 211);
  color: rgb(255, 255, 255);
}

.catalog-sidebar__filters {
  border: 1px solid rgb(196, 205, 213);
  padding: 20px;
}

.catalog-sidebar__filters-title {
  font-family: "SFT-bold", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  color: rgb(22, 28, 36);
  margin-bottom: 27px;
}

.catalog-sidebar__filters-item {
  border-bottom: 1px solid rgb(237, 237, 237);
  margin-bottom: 4px;
}

.catalog-sidebar__filters-item-block {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 17px;
}

.catalog-sidebar__filters-item-name {
  display: inline-block;
  font-family: "SFT-medium", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: rgb(22, 28, 36);
}

.catalog-sidebar__filters-item-unfold {
  stroke: #938A9F;
  display: inline-flex;
  transition: all 0.15s ease-in;
}
.catalog-sidebar__filters-item-unfold:hover {
  stroke: rgb(66, 149, 228);
}

.catalog-sidebar__filters-item-unfold__active {
  transform: rotate(180deg);
  stroke: rgb(66, 149, 228);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.sidebar__filters-price-slider {
  display: none;
  flex-wrap: wrap;
  gap: 12px;
}

.sidebar__filters-price-slider__active {
  display: flex;
}

.sidebar__filters-price-slider-field {
  overflow: hidden;
  border: 1px solid rgb(234, 234, 234);
  min-width: 116px;
  margin-bottom: 11px;
}

.sidebar__filters-price-slider-field-min {
  font-family: "SFT", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgb(22, 28, 36);
  padding: 10px;
  overflow: hidden;
  text-align: center;
  border: none;
  width: 95px;
}
.sidebar__filters-price-slider-field-min:focus {
  border: 1px solid rgb(66, 149, 228);
  outline: none;
}

.sidebar__filters-price-slider-field-max {
  font-family: "SFT", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgb(22, 28, 36);
  padding: 10px;
  overflow: hidden;
  text-align: center;
  border: none;
  width: 95px;
}
.sidebar__filters-price-slider-field-max:focus {
  border: 1px solid rgb(66, 149, 228);
  outline: none;
}

.sidebar__filters-price-slider-controller {
  width: 100%;
  background: rgb(234, 234, 234);
  height: 4px;
  border-radius: 4px;
  position: relative;
}

.sidebar__filters-price-slider-controller-progress {
  height: 4px;
  left: 0%;
  right: 0%;
  position: absolute;
  border-radius: 4px;
  background: rgb(66, 149, 228);
}

.sidebar__filters-price-slider-range {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.sidebar__filters-price-slider-range input {
  position: absolute;
  width: 100%;
  top: -16px;
  height: 4px;
  background: none;
  -webkit-appearance: none;
  pointer-events: none;
}

input[type=range]::-webkit-slider-thumb {
  pointer-events: auto;
  cursor: pointer;
  height: 24px;
  width: 24px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid rgb(66, 149, 228);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.0117647059);
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1019607843);
}

input[type=range]::-moz-range-thumb {
  pointer-events: auto;
  cursor: pointer;
  height: 24px;
  width: 24px;
  -moz-appearance: none;
  background: #fff;
  border: 1px solid rgb(66, 149, 228);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.0117647059);
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1019607843);
}

.sidebar__checkbox-list {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar__active {
  display: block;
}

.sidebar__checkbox-list-item {
  display: flex;
  align-items: center;
  align-items: flex-start;
  margin-bottom: 10px;
}

input[type=checkbox] {
  display: none;
}

.sidebar__checkbox-list-item-label {
  display: inline-block;
}

.sidebar__checkbox-list-item-label-custom {
  margin-right: 20px;
  position: relative;
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  align-items: center;
}
.sidebar__checkbox-list-item-label-custom::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border: 1px solid rgb(196, 205, 213);
  background: white;
  border-radius: 2px;
  transition: background-color 0.2s;
}

input[type=checkbox]:checked + .sidebar__checkbox-list-item-label-custom::before {
  background: rgb(66, 149, 228);
  border: none;
}

input[type=checkbox]:checked + .sidebar__checkbox-list-item-label-custom::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -3px;
  transform: translateY(-50%) rotate(45deg);
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
}

.sidebar__checkbox-list-item-name {
  display: inline-block;
  font-family: "SFT", sans-serif;
  font-weight: 400;
  max-width: 184px;
  font-size: 14px;
  line-height: 24px;
  color: rgb(22, 28, 36);
}

.sidebar__checkbox-list-item-count {
  font-family: "SFT-light", sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: rgb(69, 79, 91);
  margin-left: auto;
}

.catalog-product {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 920px;
  margin-left: 23px;
  width: 100%;
  padding-top: 4px;
}

.catalog-product__list-item {
  background: rgba(0, 0, 0, 0.03);
  width: 288px;
  max-width: 290px;
  position: relative;
}

.catalog-carousel__item-header {
  position: relative;
  margin-bottom: 10px;
}

.catalog-carousel__item-header-img {
  width: 288px;
  height: auto;
}

.catalog-carousel__item-header-block {
  position: absolute;
  top: 12px;
  left: 12px;
}

.catalog-carousel__item-header-presence {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.catalog-carousel__item-header-presence-box {
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 7px 6px;
  display: flex;
  position: relative;
  justify-content: center;
  margin-right: 8px;
  background: #fff;
}

.catalog-carousel__item-header-presence-text {
  font-family: "SFT", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgb(69, 79, 91);
}

.catalog-carousel__item-header-gift {
  width: 90px;
  display: flex;
  align-items: center;
  padding: 6px 8px;
  background: #fff;
}

.catalog-carousel__item-header-gift-img {
  fill: rgb(66, 149, 228);
}

.catalog-carousel__item-header-gift-text {
  color: rgb(22, 28, 36);
  font-family: "SFT", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  margin-left: 10px;
}

.catalog-carousel__item-header-sale {
  color: rgb(22, 28, 36);
  font-family: "SFT-medium", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  padding: 8px 10px;
  background: white;
  position: absolute;
  top: 12px;
  right: 12px;
}

.catalog-carousel__list-item-descr {
  padding: 10px 12px;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
  border-left: 1px solid rgba(0, 0, 0, 0.03);
  border-right: 1px solid rgba(0, 0, 0, 0.03);
}

.catalog-carousel__list-item-descr-title {
  color: rgb(69, 79, 91);
  font-family: "SFT", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  max-width: 270px;
  margin-bottom: 10px;
}

.catalog-carousel__list-item-descr-price {
  display: flex;
  align-items: center;
}

.catalog-carousel__list-item-descr-price-new {
  font-family: "SFT-bold", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: rgb(22, 28, 36);
  margin-right: 10px;
}

.catalog-carousel__list-item-descr-price-old {
  position: relative;
  font-family: "SFT-light", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: rgb(69, 79, 91);
}
.catalog-carousel__list-item-descr-price-old::after {
  content: "₽";
}
.catalog-carousel__list-item-descr-price-old::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  border: 1px solid rgb(69, 79, 91);
}

.catalog-product__block {
  position: relative;
  width: 100%;
  margin-bottom: 27px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.catalog-product__block-tags {
  position: relative;
  font-family: "SFT", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgb(22, 28, 36);
  line-height: 24px;
}

.catalog-product__block-tags-cross {
  cursor: pointer;
  width: 10px;
  height: 10px;
  stroke: rgb(22, 28, 36);
  position: absolute;
  top: 3px;
  right: -23px;
  transition: all 0.14s ease-in;
}
.catalog-product__block-tags-cross:hover {
  stroke: rgb(228, 66, 134);
}

.catalog-product__block-dropdown {
  padding: 7px;
  border: 1px solid rgb(196, 205, 213);
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 210px;
}
.catalog-product__block-dropdown:hover .catalog-product__block-dropdown-text {
  color: rgb(66, 149, 228);
}
.catalog-product__block-dropdown:hover svg {
  stroke: rgb(66, 149, 228);
}

.catalog-product__block-dropdown-text {
  user-select: none;
  display: inline;
  font-family: "SFT", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgb(22, 28, 36);
  transition: all 0.1s ease-in;
  width: 100%;
  max-width: 180px;
}

.catalog-product__block-dropdown-unfold {
  display: inline-block;
  fill: none;
  stroke: black;
  transition: all 0.2s ease-in;
}

.catalog-product__block-dropdown-unfold__active {
  transform: rotate(-180deg);
  stroke: rgb(66, 149, 228);
}

.catalog-product__dropdown-modal {
  display: none;
  z-index: 1000;
  position: absolute;
  top: 47px;
  right: 0;
  width: 212px;
}

.catalog-product__dropdown-modal__active {
  display: block;
}

.catalog-product__dropdown-modal-list {
  box-shadow: 0px 4px 15px -2px rgba(0, 0, 0, 0.1019607843);
  background: #fff;
  width: 100%;
}

.catalog-product__dropdown-modal-list-item {
  cursor: pointer;
  display: flex;
  padding: 10px;
  transition: all 0.1s ease-in;
}
.catalog-product__dropdown-modal-list-item:hover {
  background: #F7FBFE;
}
.catalog-product__dropdown-modal-list-item:hover .catalog-product__dropdown-modal-list-item-text {
  color: #4295E4;
}

.catalog-product__dropdown-modal-list-item-text {
  font-family: "SFT", sans-serif;
  color: rgb(22, 28, 36);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  transition: all 0.1s ease-in;
}

.catalog-product__list {
  margin-bottom: 26px;
  flex-wrap: wrap;
  display: flex;
  gap: 42px 20px;
  width: 100%;
  max-width: 937px;
  justify-content: flex-start;
}

.catalog-carousel__list-item {
  width: 288px;
  max-width: 290px;
  position: relative;
  background: none;
}

.catalog-carousel__item-header {
  background-color: rgba(0, 0, 0, 0.03);
  margin-bottom: 0;
}

.catalog-carousel__list-item-descr {
  padding: 0 12px 12px 14px;
}

.product {
  padding-top: 20px;
}

.product__wrapper {
  display: flex;
  margin-bottom: 32px;
}

.product-slider {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 604px;
}

.product-slider__main {
  background: rgba(0, 0, 0, 0.03);
  margin-bottom: 20px;
}

.product-slider__main-img {
  display: none;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.product-slider__main-img__active {
  cursor: pointer;
  width: 100%;
  max-width: 615px;
  max-height: 513px;
  height: 100%;
  display: block;
}

.product-slider__thumbnails-list {
  display: flex;
}

.product-slider__thumbnails-list-item {
  cursor: pointer;
  border: 1px solid rgb(234, 234, 234);
  max-width: 143px;
  width: 100%;
  height: auto;
  margin-right: 12px;
  transition: all 0.1s ease-in;
}
.product-slider__thumbnails-list-item:hover {
  background: rgba(125, 190, 255, 0.07);
}
.product-slider__thumbnails-list-item:last-child {
  margin-right: 0;
}

.product-slider__thumbnails-list-item-img {
  width: 100%;
  max-width: 142px;
  height: 133px;
  background-size: cover;
  background-repeat: no-repeat;
}

.product-info__top {
  display: flex;
}

.product-info__top-id {
  margin-right: 12px;
  max-width: 90px;
  font-family: "SFT", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgb(69, 79, 91);
}

.product-info__title {
  letter-spacing: -0.7px;
  max-width: 549px;
  font-family: "SFT-bold", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: rgb(22, 28, 36);
  margin-bottom: 17px;
}

.checkbox-actions {
  margin-bottom: 20px;
}

.checkbox-actions__text {
  font-family: "SFT-bold", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: rgb(22, 28, 36);
  max-width: 220px;
  margin-bottom: 10px;
  letter-spacing: -0.5px;
}

.checkbox-actions__list {
  display: flex;
}

.checkbox-actions__list-item {
  display: flex;
  margin-right: 19px;
  align-items: center;
}

.checkbox-actions__list-item-label-custom {
  margin-right: 20px;
  position: relative;
  user-select: none;
  display: inline-flex;
  align-items: center;
}
.checkbox-actions__list-item-label-custom::before {
  content: "";
  position: absolute;
  left: 1px;
  top: 0px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border: 1px solid rgb(196, 205, 213);
  background: rgb(66, 149, 228);
  border-radius: 2px;
  transition: background-color 0.2s;
}
.checkbox-actions__list-item-label-custom::after {
  content: "";
  position: absolute;
  left: 7px;
  top: -1px;
  transform: translateY(-50%) rotate(45deg);
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
}

.checkbox-actions__list-item-descr {
  font-size: 14px;
  font-family: "SFT", sans-serif;
  font-weight: 400;
  color: rgb(69, 79, 91);
  line-height: 24px;
  max-width: 160px;
}

.product-info__options {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.product-info__options-package {
  position: relative;
}

.product-info__options-package-title {
  display: inline-block;
  font-family: "SFT-bold", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: rgb(22, 28, 36);
  margin-bottom: 7px;
}

.product-info__options-package-content {
  margin-right: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 288px;
  padding: 8px 16px;
  padding-left: 16px;
  border: 1px solid black;
}
.product-info__options-package-content:hover {
  border: 1px solid rgb(66, 149, 228);
}

.product-info__options-package-content-text {
  user-select: none;
  width: 100%;
  max-width: 260px;
  font-family: "SFT", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(22, 28, 36);
}

.product-info__options-package-content-unfold {
  cursor: pointer;
  transition: all 0.18s ease-in;
  stroke: rgb(22, 28, 36);
}
.product-info__options-package-content-unfold:hover {
  stroke: rgb(66, 149, 228);
}

.product-info__options-package-unfold__active {
  transform: rotate(180deg);
  stroke: rgb(66, 149, 228);
}

.package-modal {
  display: none;
  position: absolute;
  bottom: -109px;
  left: 0;
  width: 100%;
  max-width: 288px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 4px 15px -2px rgba(0, 0, 0, 0.1019607843);
  z-index: 800;
}

.package-modal__active {
  display: block;
}

.package-modal__list-item {
  cursor: pointer;
  padding: 8px 0px;
  padding-left: 16px;
  transition: all 0.15s ease-in;
}
.package-modal__list-item:hover {
  background: rgb(247, 251, 254);
  color: rgb(66, 149, 228);
}

.package-modal__list-item-text {
  width: 100%;
  max-width: 260px;
  font-family: "SFT", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.product-info__options-colors-title {
  display: inline-block;
  font-family: "SFT-bold", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: rgb(22, 28, 36);
  margin-bottom: 8px;
}

.product-info__colors-list {
  display: flex;
}

.product-info__colors-list-box {
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: #fff;
  margin-right: 12px;
  transition: all 0.15s ease-in;
}
.product-info__colors-list-box:hover {
  border: 1px solid rgb(66, 149, 228);
}

.product-info__colors-list-box__active {
  border: 1px solid rgb(66, 149, 228);
}
.product-info__colors-list-box__active::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 16px;
  transform: translateY(-50%) rotate(45deg);
  width: 8px;
  height: 15px;
  border: solid rgb(89, 100, 105);
  border-width: 0 2px 2px 0;
}

.product-info__colors-list-box-black__active,
.product-info__colors-list-box-yellow__active {
  border: 1px solid rgb(66, 149, 228);
}
.product-info__colors-list-box-black__active::after,
.product-info__colors-list-box-yellow__active::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 16px;
  transform: translateY(-50%) rotate(45deg);
  width: 8px;
  height: 15px;
  border: solid rgb(255, 255, 255);
  border-width: 0 2px 2px 0;
}

.product-info__colors-list-box__white {
  position: relative;
  border: 1px solid rgb(66, 149, 228);
  background: rgb(255, 255, 255);
}

.product-info__colors-list-box__black {
  background: rgb(27, 26, 32);
}

.product-info__colors-list-box__yellow {
  background: rgb(226, 195, 85);
}

.product-info__price {
  display: flex;
  margin-bottom: 15px;
}

.product-info__price-new {
  width: 100%;
  max-width: 110px;
  font-family: "SFT-bold", sans-serif;
  font-weight: 600;
  color: rgb(22, 28, 36);
  font-size: 22px;
  line-height: 26px;
}

.product-info__price-old {
  position: relative;
  width: 100%;
  max-width: 110px;
  font-family: "SFT-light", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: rgb(164, 164, 164);
}
.product-info__price-old::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  max-width: 84px;
  height: 1px;
  background: rgb(164, 164, 164);
  z-index: 0;
}

.product-info__buying {
  display: flex;
  align-items: center;
  margin-bottom: 33px;
}

.product-info__buying-btn {
  margin-right: 33px;
  cursor: pointer;
  font-family: "SFT-medium", sans-serif;
  font-weight: 500;
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  border: none;
  background: rgb(66, 149, 228);
  width: 288px;
  transition: all 0.1s ease-in;
}
.product-info__buying-btn:hover {
  background: rgb(86, 169, 248);
}
.product-info__buying-btn:active {
  background: rgb(46, 129, 208);
}

.product-info__buying-favorites {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.product-info__buying-favorites-img {
  cursor: pointer;
  margin-right: 9px;
  transition: all 0.12s ease-in;
  stroke: #454F5B;
  fill: none;
}
.product-info__buying-favorites-img:hover {
  stroke: rgb(66, 149, 228);
}

.product-info__buying-favorites-text {
  font-size: 14px;
  line-height: 24px;
  font-family: "SFT", sans-serif;
  font-weight: 400;
  color: rgb(77, 77, 77);
}

.product-info__services {
  width: 597px;
}

.product-info__services-list-item {
  width: 100%;
  background: rgb(255, 255, 255);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  margin-bottom: 16px;
}

.product-info__services-list-item:hover .product-info__services-list-item-title,
.product-info__services-list-item:hover .product-info__services-list-item-unfold {
  color: rgb(86, 169, 248);
  stroke: rgb(86, 169, 248);
}

.product-info__services-list-item__active {
  padding: 16px;
  background: rgb(246, 247, 249);
}

.product-info__services-list-item-title {
  transition: all 0.15s ease-in-out;
  margin-bottom: 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "SFT-medium", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgb(22, 28, 36);
  line-height: 26px;
}

.product-info__services-list-item-unfold {
  display: flex;
  cursor: pointer;
  stroke: rgb(69, 79, 91);
  fill: none;
  transition: all 0.2s ease-in-out;
}
.product-info__services-list-item-unfold:hover {
  stroke: rgb(66, 149, 228);
}

.product-info__services-list-item-unfold__active {
  transform: rotate(180deg);
  stroke: rgb(66, 149, 228);
}

.product-info__services-list-item-descr {
  letter-spacing: 0.1px;
  display: none;
  font-family: "SFT", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgb(69, 79, 91);
  max-width: 565px;
}

.product-info__services-list-item-descr__active {
  display: block;
}

.product-details__list {
  display: flex;
  margin-bottom: 33px;
}

.product-details__list-item {
  cursor: pointer;
  position: relative;
  margin-right: 62px;
  font-family: "SFT-medium", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: rgb(22, 28, 36);
  transition: all 0.2s ease-in;
}
.product-details__list-item:last-child {
  margin-right: 0;
}
.product-details__list-item::after {
  content: "";
  opacity: 0;
  position: absolute;
  width: 100%;
  bottom: -10px;
  left: 0;
  height: 3px;
  background: rgb(66, 149, 228);
}
.product-details__list-item:hover::after {
  opacity: 1;
  transition: all 0.3 ease-in;
}

.product-details__list-item__active::after {
  opacity: 1;
}

.product-details__content-characteristics {
  display: none;
}

.product-details__content-characteristics__active {
  display: flex;
  margin-bottom: 100px;
}

.product-details__content-characteristics-left {
  width: 605px;
  margin-right: 30px;
}

.product-details__content-characteristics-list-item {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 13px;
}

.product-details__content-characteristics-list-item__grey {
  background: rgb(250, 250, 250);
}

.product-details__content-characteristics-list-item-title {
  margin-right: 30px;
  width: 100%;
  max-width: 260px;
  font-family: "SFT-medium", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: rgb(24, 24, 24);
}

.product-details__content-characteristics-list-item-descr {
  font-family: "SFT", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgb(69, 79, 91);
  max-width: 291px;
}

.product-details__content-characteristics-right {
  width: 605px;
}

.product-details__content-descr {
  display: none;
  position: relative;
  margin-bottom: 116px;
}

.product-details__content-descr__active {
  display: flex;
}

.product-details__content-descr-content-info {
  margin-top: 17px;
  width: 711px;
}

.product-details__content-descr-content-info-text {
  max-width: 711px;
  font-family: "SFT", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgb(69, 79, 91);
}

.checkbox-product {
  margin-top: 31px;
  margin-bottom: 24px;
}

.checkbox-product__text {
  letter-spacing: -0.1px;
  max-width: 633px;
  font-family: "SFT-bold", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: rgb(22, 28, 36);
  margin-bottom: 16px;
}

.checkbox-product__list {
  display: block;
}

.checkbox-product__list-item {
  display: flex;
  align-items: baseline;
  margin-bottom: 8px;
}

.checkbox-product__list-item-label-custom {
  margin-right: 20px;
  position: relative;
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  align-items: center;
}
.checkbox-product__list-item-label-custom::before {
  content: "";
  position: absolute;
  left: 1px;
  top: -5px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border: 1px solid rgb(196, 205, 213);
  background: rgb(66, 149, 228);
  border-radius: 2px;
  transition: background-color 0.2s;
}
.checkbox-product__list-item-label-custom::after {
  content: "";
  position: absolute;
  left: 7px;
  top: -5px;
  transform: translateY(-50%) rotate(45deg);
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
}

.checkbox-product__list-item-descr {
  font-weight: 400;
  font-family: "SFT", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: rgb(69, 79, 91);
  max-width: 583px;
}

.product-details__content-descr-content-img {
  position: absolute;
  right: 7px;
  top: -17px;
}

.product-details__content-descr-content-img-advantage {
  width: 500px;
  height: auto;
}

.product-details__content-reviews {
  display: none;
  margin-bottom: 100px;
}

.product-details__content-reviews__active {
  display: flex;
}

.product-details__content-reviews-comments {
  width: 817px;
  margin-right: 33px;
}

.product-details__content-reviews-comment {
  width: 817px;
  border: 1px solid rgb(234, 234, 234);
  padding: 16px 24px 24px 25px;
  margin-bottom: 16px;
}

.product-details__content-reviews-comment-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 11px;
  margin-left: -25px;
  margin-right: -24px;
  border-bottom: 1px solid rgb(234, 234, 234);
  margin-bottom: 16px;
}

.product-details__content-reviews-comment-top-name {
  font-family: "SFT-medium", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #161C24;
  padding-left: 23px;
}

.product-details__content-reviews-comment-top-date {
  font-family: "SFT-light", sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #454F5B;
}

.product-details__reviews-star {
  margin-right: 7px;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  width: 16px;
  height: 16px;
  background-color: black;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  z-index: 1;
  border: 11px solid white;
  transition: all 0.15s ease-in;
}
.product-details__reviews-star:hover {
  border: 11px solid rgb(247, 171, 58);
}

.product-details__reviews-star__active {
  border: 11px solid rgb(247, 171, 58);
}

.product-details__content-reviews-comment-text {
  font-family: "SFT", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  max-width: 769px;
  color: rgb(22, 28, 36);
  margin-bottom: 24px;
}

.product-details__content-reviews-comment-action {
  display: flex;
  align-items: center;
}

.product-details__content-reviews-comment-action-reply {
  cursor: pointer;
  margin-right: 36px;
}

.product-details__content-reviews-comment-action-reply-text {
  font-family: "SFT", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: rgb(69, 79, 91);
  transition: all 0.15s ease-in;
}
.product-details__content-reviews-comment-action-reply-text:hover {
  color: rgb(66, 149, 228);
}

.product-details__content-reviews-comment-action-comment {
  cursor: pointer;
}

.product-details__content-reviews-comment-action-comment-text {
  font-family: "SFT", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: rgb(69, 79, 91);
  transition: all 0.15s ease-in;
}
.product-details__content-reviews-comment-action-comment-text:hover {
  color: rgb(66, 149, 228);
}

.product-details__reviews-stars {
  margin-right: 26px;
}

.product-details__reviews-star {
  width: 20px;
  height: 20px;
}

.product-details__content-reviews-comments-load {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.product-details__content-reviews-comments-load:hover .product-details__content-reviews-comments-load-text {
  color: #4295E4;
}

.product-details__content-reviews-comments-load-img {
  stroke: #4295E4;
  fill: none;
  margin-right: 10px;
}

.product-details__content-reviews-comments-load-text {
  font-family: "SFT", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgb(69, 79, 91);
}

.product-details__content-reviews-leave {
  width: 393px;
}

.product-details__content-reviews-leave-content {
  border: 1px solid rgb(234, 234, 234);
  padding: 24px 27px 24px 21px;
}

.reviews-leave__form-stars {
  margin-bottom: 20px;
}

.reviews-leave__form-stars-star {
  cursor: pointer;
  display: inline-flex;
  position: relative;
  width: 16px;
  height: 16px;
  background-color: black;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  z-index: 1;
  border: 11px solid white;
  transition: all 0.15s ease-in;
}
.reviews-leave__form-stars-star::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 18px;
  height: 18px;
  clip-path: inherit;
  background-color: transparent;
  border: 1px solid rgb(196, 205, 213);
  z-index: 0;
}
.reviews-leave__form-stars-star:hover {
  background-color: white;
  border: 11px solid rgb(247, 171, 58);
}

.reviews-leave__form-stars-text {
  letter-spacing: -1px;
  margin-bottom: 8px;
  display: block;
  font-family: "SFT-medium", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgb(22, 28, 36);
}

.reviews-leave__form-field {
  margin-bottom: 20px;
}

.reviews-leave__form-field-label {
  letter-spacing: -1px;
  margin-bottom: 6px;
  display: block;
  font-family: "SFT-medium", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgb(22, 28, 36);
}

.reviews-leave__form-field-input {
  font-family: "SFT", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding: 12px 16px;
  width: 100%;
  border: 1px solid rgb(228, 231, 233);
  outline: 1px solid rgb(228, 231, 233);
  max-width: 345px;
  color: rgb(22, 28, 36);
}
.reviews-leave__form-field-input::placeholder {
  color: rgb(173, 173, 173);
}

.reviews-leave__form-field-textarea {
  padding: 12px 16px;
  width: 100%;
  font-family: "SFT", sans-serif;
  resize: vertical;
  min-height: 140px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid rgb(228, 231, 233);
  outline: 1px solid rgb(228, 231, 233);
  max-width: 345px;
  color: rgb(22, 28, 36);
}

.feedback__submit-btn {
  font-family: "SFT-medium", sans-serif;
  font-weight: 500;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 19px;
  width: 345px;
  text-align: center;
  border: none;
  padding: 10px;
  padding: 15px 0;
  background: rgb(66, 149, 228);
  transition: all 0.17s ease-in-out;
}
.feedback__submit-btn:hover {
  color: rgb(255, 255, 255);
  background: rgb(86, 169, 248);
}
.feedback__submit-btn:active {
  color: rgb(255, 255, 255);
  background: rgb(46, 129, 208);
}

/*# sourceMappingURL=style.css.map */
