:root {
  --primary: #454F5B;
  --bg: #fff;
}

@font-face {
  font-family: "SFT";
  src: url("/assets/fonts/sfprotext/SFProText-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "SFT-italic";
  src: url("/assets/fonts/sfprotext/SFProText-RegularItalic.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "SFT-light";
  src: url("/assets/fonts/sfprotext/SFProText-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "SFT-medium";
  src: url("/assets/fonts/sfprotext/SFProText-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "SFT-bold";
  src: url("/assets/fonts/sfprotext/SFProText-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "SFT-semibold";
  src: url("/assets/fonts/sfprotext/SFProText-Semibold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "SFD-medium";
  src: url("/assets/fonts/sfprodisp/SFProDisplay-Medium.ttf");
  src: url("/assets/fonts/sfprodisp/SFProDisplay-Medium.eot");
  src: url("/assets/fonts/sfprodisp/SFProDisplay-Medium.woff");
  src: url("/assets/fonts/sfprodisp/SFProDisplay-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "SFD";
  src: url("/assets/fonts/sfprodisp/SFProDisplay-Regular.ttf");
  src: url("/assets/fonts/sfprodisp/SFProDisplay-Regular.eot");
  src: url("/assets/fonts/sfprodisp/SFProDisplay-Regular.woff");
  src: url("/assets/fonts/sfprodisp/SFProDisplay-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "SFD-semibold";
  src: url("/assets/fonts/sfprodisp/SFProDisplay-Semibold.ttf");
  src: url("/assets/fonts/sfprodisp/SFProDisplay-Semibold.eot");
  src: url("/assets/fonts/sfprodisp/SFProDisplay-Semibold.woff");
  src: url("/assets/fonts/sfprodisp/SFProDisplay-Semibold.woff2");
  font-weight: 600;
}
@font-face {
  font-family: "SFD-light";
  src: url("/assets/fonts/sfprodisp/SFProDisplay-Light.ttf");
  src: url("/assets/fonts/sfprodisp/SFProDisplay-Light.wot");
  src: url("/assets/fonts/sfprodisp/SFProDisplay-Light.woff");
  src: url("/assets/fonts/sfprodisp/SFProDisplay-Light.woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Helvetica-roman";
  src: url("/assets/fonts/helvetica/HelveticaNeueCyr-Roman.eot");
  src: url("/assets/fonts/helvetica/HelveticaNeueCyr-Roman.ttf");
  src: url("/assets/fonts/helvetica/HelveticaNeueCyr-Roman.woff");
  font-weight: 400;
}
@font-face {
  font-family: "Helvetica-medium";
  src: url("/assets/fonts/helvetica/HelveticaNeueCyr-Medium.eot");
  src: url("/assets/fonts/helvetica/HelveticaNeueCyr-Medium.ttf");
  src: url("/assets/fonts/helvetica/HelveticaNeueCyr-Medium.woff");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/roboto/Roboto-Medium.eot");
  src: url("/assets/fonts/roboto/Roboto-Medium.ttf");
  src: url("/assets/fonts/roboto/Roboto-Medium.woff");
  font-weight: 400;
}
body {
  background: var(--bg);
  font-family: "SFT";
  font-weight: 400;
  font-size: 16px;
  color: var(--primary);
}

.container {
  max-width: 1277px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.container-banner {
  width: 100%;
  display: flex;
  text-align: center;
}

.header {
  border-bottom: 1px solid #C4CDD5;
}

.header-banner {
  width: 100%;
  padding: 9px 0;
  background: rgb(69, 79, 91);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-banner__text {
  font-family: "SFD";
  color: #fff;
  margin-right: 153px;
  margin-left: 350px;
  letter-spacing: 2.8px;
}
.header-banner__text:last-child {
  margin-right: 0;
}

.header-banner__text-call {
  display: inline-flex;
  font-family: "SFD";
  color: #fff;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
  letter-spacing: 3.1px;
}
.header-banner__text-call a {
  text-decoration: none;
  display: inline-flex;
  font-family: "SFD";
  color: #fff;
  cursor: pointer;
}
.header-banner__text-call:hover {
  border-bottom: 2px solid #fff;
}

.header-top {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.header-logo {
  margin-right: 102px;
  max-width: 52px;
  height: auto;
  display: block;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav__list {
  margin-right: 282px;
  display: flex;
  align-items: center;
}

.header-nav__list-item {
  display: flex;
  align-items: center;
  margin-right: 33px;
  font-size: 20px;
}
.header-nav__list-item a {
  font-family: "SFT-light";
  color: rgb(22, 28, 36);
}
.header-nav__list-item:hover a {
  font-family: "SFT";
}
.header-nav__list-item:last-child {
  margin-right: 0;
}

.header-nav__list-item-unfold {
  margin-left: 7px;
  display: inline-block;
  width: 14px;
  height: auto;
  fill: none;
  stroke: #000;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.header-nav__list-item-unfold:hover {
  stroke: #4295E4;
}

.header-nav__actions {
  display: flex;
  align-items: center;
}

.header-nav__actions-call {
  display: flex;
  align-items: center;
}

.header-nav__actions-call-img {
  height: 20px;
  width: 20px;
}

.header-nav__actions-call-text {
  margin-left: 9px;
  letter-spacing: 0.6px;
  font-family: "SFD", sans-serif;
  font-size: 18px;
  color: rgb(69, 79, 91);
  transition: all 0.2s ease-in;
}
.header-nav__actions-call-text:hover {
  color: #4295E4;
}

.header-nav__actions-likes {
  margin-left: 21px;
  margin-right: 24px;
  width: 32px;
  height: 32px;
  stroke: rgb(69, 79, 91);
  transition: all 0.15s ease-in;
}
.header-nav__actions-likes:hover {
  stroke: #4295E4;
}

.header-nav__actions-basket {
  width: 32px;
  height: 32px;
  stroke: rgb(69, 79, 91);
  transition: all 0.15s ease-in;
}
.header-nav__actions-basket:hover {
  stroke: #4295E4;
}

/*# sourceMappingURL=style.css.map */
